{% extends 'layout.html' %}
{% block title %}404 Not Found{% endblock %}
{% block content %}
<div class="content section-inner">

    <div class="posts">

        <div class="post">
        
            <div class="content-inner">
                    
                <div class="post-header">
                        
                    <h2 class="post-title">Error 404</h2>
                    
                </div>
                                                                            
                <div class="post-content">
                                
                    <p>
                    It seems like you have tried to open a page that doesn't exist. It could have been deleted, moved, or it never existed at all.
                    </p>
                </div> <!-- /post-content -->
            
            </div> <!-- /content-inner -->
                                                
        </div> <!-- /post -->
    
    </div> <!-- /posts -->

</div> <!-- /content -->
{% endblock %}