<div class="post-bubbles">
    <a href="{{ url_for(post) }}" class="format-bubble" title="{{ post.title }}"></a>
</div>
<div class="content-inner">
    <div class="post-header">
        {% if theme.display_thumbnail and 'thumbnail' in post.meta %}
            <div class="featured-media">
                <a href="{{ url_for(post) }}" rel="bookmark" title="{{ post.title }}">
                    <img src="{{ post.meta.thumbnail }}" />
                </a>
            </div> <!-- /featured-media -->
        {% endif %}
        <h2 class="post-title">
            <a href="{{ url_for(post) }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        <div class="post-meta">
            <span class="post-date">
                <a href="{{ url_for(post) }}" title="{{ post.datetime.strftime('%a %b %d %Y %z') }}">{{ post.date }}</a>
            </span>
            <span class="date-sep"> / </span>
            {% for tag in post.tags %}
            <span class="post-tags">
                <a class="tag" href="{{ url_for(tag) }}" title="Tag # {{ tag.name }}">#{{ tag.name }}</a>
            </span>
            {% endfor %}
        </div> <!-- /post-meta -->
    </div> <!-- /post-header -->
    <div class="post-content">
        {% if theme.use_excerpt %}
            {{ post.content|excerpt(theme.max_excerpt_length) }}
        {% else %}
            {{ post.content }}
        {% endif %}
    </div> <!-- /post-content -->
    <div class="clear"></div>
</div> <!-- /post content-inner -->
<div class="clear"></div>