{% from "utils.html" import analytics %}
<!DOCTYPE html>
<html class="no-js" <?php language_attributes(); ?>>
    <head profile="http://gmpg.org/xfn/11">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
        <title>{% block title %}{{ site.name }}{% endblock %}</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="{{ author.name }}" />
        <meta name="description" content="{{ site.description }}" />
        <link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('pygments.css') }}" type="text/css" />
        <link rel="alternate" type="application/rss+xml" href="{{ url_for('feed') }}" title="{{ site.name }}" />
        <link rel="canonical" href="{{ permalink }}" />
        {{ analytics() }}
    </head>
    <body>
        <div class="navigation">
            <div class="navigation-inner section-inner">
                <ul class="blog-menu">
                    <li class="menu-item">
                        <a href="{{ url_for('index') }}" title="首页">首页</a>
                    </li>
                    <li class="menu-item menu-item-has-children has-children">
                        <ul class="sub-menu">
                        {% for tag in generator.tags %}
                            <li class="menu-item">
                                <a class="tag" href="{{ url_for(tag) }}" title="{{ tag.name }}">{{ tag.name }} ({{ tag.count }})</a>
                            </li>
                        {% endfor %}
                        </ul>
                    <li>
                    <li class="menu-item">
                        <a href="{{ url_for('archives') }}" title="归档">归档</a>
                    </li>
                    {% for page in pages %}
                    <li class="menu-item">
                        <a href="{{ url_for(page) }}" title="{{ page.title }}">{{ page.title }}
                    </li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div> <!-- /navigation-inner -->
        </div> <!-- /navigation -->
        <div class="header section">
            <div class="header-inner section-inner">
                <a href="{{ url_for('index') }}" title="{{ site.name }}" rel="home" class="logo">
                    <img src="" alt="{{ site.name }}">
                </a>             
                <h1 class="blog-title">
                    <a href="{{ url_for('index') }}" title="{{ site.name }} &mdash; {{ site.description }}" rel="home">{{ site.name }}</a>
                </h1>
                <div class="nav-toggle">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="clear"></div>
                </div>
                 <div class="clear"></div>
            </div> <!-- /header section -->
        </div> <!-- /header-inner section-inner -->
        {% block content %}{% endblock %}
        <div class="footer section">
            <div class="footer-inner section-inner">
                    <div class="footer-a widgets">
                        
                        <div class="clear"></div>
                    </div>

                    <div class="footer-b widgets">
                        
                        <div class="clear"></div>
                    </div>
                    <div class="footer-c widgets">

                        <div class="clear"></div>
                    </div>
                <div class="clear"></div>
            </div> <!-- /footer-inner -->
        </div> <!-- /footer -->
        <div class="credits section">
            <div class="credits-inner section-inner">
                <p class="credits-left">
                    <span>Copyright</span> &copy; 2015 <a href="{{ url_for('index') }}" title="{{ site.name }}">{{ site.name }}</a>
                </p>
                <p class="credits-right">
                    <span>Theme by <a href="http://www.andersnoren.se">Anders Noren</a> &mdash; </span><a title="To the top" class="tothetop">Up &uarr;</a>
                </p>
                <div class="clear"></div>
            </div> <!-- /credits-inner -->
        </div> <!-- /credits -->
        <script type='text/javascript' src="{{ static_url('js/jquery.min.js') }}"></script>
        <script type='text/javascript' src="{{ static_url('js/flexslider.min.js') }}"></script>
        <script type='text/javascript' src="{{ static_url('js/mediaelement-and-player.min.js') }}"></script>
        <script type='text/javascript' src="{{ static_url('js/global.js') }}"></script>
    </body>
</html>