{% extends 'layout.html' %}
{% block title %}{{ site.name }}{% if pagination.page > 1 %} - 第 {{ pagination.page }} 页{% endif %}{% endblock %}
{% block content %}
<div class="content section-inner">
        <div class="posts">
            {% if pagination.page > 1 %}
                <div class="page-title">
                    <h4>Page {{ pagination.page }} of {{ pagination.pages }}</h4>
                </div>
            {% endif %}
                <div class="clear"></div>
                {% for post in pagination.items %}
                    {% if 'format' in post.meta %}
                        {% set post_part = 'content-' ~ post.meta.format ~ '.html' %}
                    {% else %}
                        {% set post_part = 'content.html' %}
                    {% endif %}
                    <div class="">
                        {% include post_part %}
                        <div class="clear"></div>
                    </div> <!-- /post -->
                {% endfor %}
                <div class="post-nav archive-nav">
                    {% if pagination.has_next %}
                    <a href="{{ pagination.next_permalink }}">&laquo; Older<span> posts</span></a>
                    {% endif %}
                    {% if pagination.has_prev %}      
                    <a href="{{ pagination.prev_permalink }}">Newer<span> posts</span> &raquo;</a>
                    {% endif %}
                    <div class="clear"></div>
                </div> <!-- /post-nav archive-nav -->
            <div class="clear"></div>
    </div> <!-- /posts -->
</div> <!-- /content section-inner -->
{% endblock %}