{% extends 'layout.html' %}
{% from 'utils.html' import render_comment%}
{% block title %}{{ post.title }} - {{ site.name }}{% endblock %}
{% block content %}
<div class="content section-inner">                     
    <div class="posts">
        <div class="post">
            <div class="content-inner">
                <div class="post-header">
                    {% if theme.display_thumbnail and 'thumbnail' in post.meta %}
                        <div class="featured-media">
                            <a href="{{ url_for(post) }}" title="{{ post.title }}" class="center-block thumbnail" style="background-image: url('{{ post.meta.thumbnail }}')"></a>
                        </div> <!-- /featured-media -->
                    {% endif %}
                    <h2 class="post-title">{{ post.title }}</h2>
                </div> <!-- /post-header -->
                <div class="post-content">
                    {{ post.content }}                                                                    
                </div> <!-- /post-content -->
            </div> <!-- /post-inner -->
        </div> <!-- /post -->
        {{ render_comment(post) }}
    </div> <!-- /posts -->
    <div class="clear"></div>
</div> <!-- /content section-inner -->
{% endblock %}